<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="博客">
    <meta name="keywords" content="博客, 轻博客">
    <meta name="author" content="tao">
    <title>博客</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/lib/alertifyjs/css/alertify.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/alertifyjs/alertify.js"></script>
    <script src="/static/js/api.js"></script>

    <!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->


    {% block head %}
    {% endblock %}
</head>
